components/jndi_context_utility/docs/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_Property">
	</xs:simpleType>
	<xs:complexType name="CT_Property">
		<xs:simpleContent>
			<xs:extension base="ST_Property">
				<xs:attribute name="name" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_Properties">
		<xs:sequence>
			<xs:element ref="Property" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Property" type="CT_Property"/>
	<xs:element name="Properties" type="CT_Properties"/>
</xs:schema>